*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}

/* NAVBAR */
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #3e3b3b;
}

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a{
    opacity: 1;
}



.logo-oct {
    text-decoration: none;
    color: #686262;
    font-size: 50px;
    opacity: 1;
}

/* home */

.home-section{
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    opacity: 1;
    transition: 1s;
}

.hero-heading{
    position: relative;
    right: 80px;
    left: 50px;
    color: rgb(79, 71, 71);
    font-size: 100px;
    text-transform: capitalize;
    align-items: flex-start;
    animation: forwards;
    font-weight: 200;
}

/** home welcome message */
span {
    opacity: 0;
    transition: all 0.4s ease;
}

span.fade {
    opacity: 1; 
}

.home-img{
    position: fixed;
    top: 0;
    right: 35%;
    height: 100vh;
    width: 30%;
    object-fit: cover;
    opacity: 0.2;
}

/* * SMOOTH NAVIGATION */

.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

/** PROJECT-SECTION */

.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}

/* .project-heading{
    font-size: 50px;
    background: #252525;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 100px;
    color: #d9cedd;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
} */

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.project-card{
    height: 400px;
    position: relative;
}

.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-content{
    position: relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

.project-title{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info{
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.project-btn.live{
    background: none;
    border: 2px solid #fff;
}

.project-card:hover .project-img{
    filter: blur(20px);
}

.project-card:hover .project-content{
    opacity: 1;
}

/** ABOUT-SECTION */

.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.download-cv-btn{
    position: absolute;
    /* bottom: 20px; */
    top: 20px;
    left: 30%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 10px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: rgba(120, 162, 235, 0.5);
}

.download-cv-btn:hover{
    background: rgb(52, 66, 145);
}

.link-btn {
    color: rgb(85, 46, 14);
    opacity: 1;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    transition: .5s;
    cursor: pointer;
}

.link-btn:hover {
    color:aliceblue;
}

/** RESUME TIMELINE  */

.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;
}
.heading {
    color: rgb(241, 223, 141);
    font-size: 80px;
    text-align: center;
    text-shadow: #e7cb71;
}

.timeline .heading{
    margin-bottom: 150px;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -80px 0;
    position: relative;
    background: rgb(231, 140, 140);
}

.card:nth-child(even){
    margin-left: auto;
}

.card:nth-child(even):before{
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after{
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(odd):before{
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after{
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before{
    background: #e99e9e;
}
.card:nth-child(3), .card:nth-child(3):before{
    background: #ebca9a;
}
.card:nth-child(4), .card:nth-child(4):before{
    background: #a2e8b1;
}
.card:nth-child(5), .card:nth-child(5):before{
    background: #b47262;
}
.card:nth-child(6), .card:nth-child(6):before{
    background: #4fa0ff;
}

.card:nth-child(even) .card-body:before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
