*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    line-height: 1.5;
    display: block;
    min-width: 350px;
    min-height: 100vh;
    background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
    font-family: sans-serif;
    scroll-behavior: smooth;
    

 }

/*HEADER*/

 .header {
    flex-direction: row;
    width: 100%;
    display: flex;
   

} 


/* NAVBAR */
.navbar {
    width: 100%;
    position: fixed;
     z-index: 1002;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-background-color {
    background-color: #3f455f !important;
    border-bottom: 5px solid rgb(224, 170, 224);
    transition:0.2s;
}

.link-group {
    list-style: none;
    margin-right: 30px;
    display: flex;
   
}

.link a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a {
    opacity: 1;
}

/*LOGO*/
.img-logo {
    
    margin-left: 10px;
    margin-top: 15px;
    width: 100px;
    height:100px;
 

}  

/* ==========BLOG CARD CCONTAINER========= */

.blog-section {
        display: flex;
        height: 35rem;
        /* background-color: #d0d5de;  */
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10rem;
        transition: 1s ease-in-out;
}       

.myblog-container {
    display: flex;
    height: fit-content;
    width: fit-content;
    /* background-color: #24395e; */
     background: hsl(0, 0%, 100%,0.1);
    backdrop-filter: blur(1rem);
    border-radius: 15px; 
    box-sizing: content-box;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    /* box-shadow: 3px 2px 1px rgb(243, 190, 228); */
}

.blog-card {
    width: 400px;
    margin: 10px;
    background-image: linear-gradient(0deg, #f49ff4 0%, #79e2ee 100%);
    border:solid 3px rgb(217, 97, 185);
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 1;

}

.blog-card.active .expandMoreContent::before::before {
    display: none;
} 

.blog-card-img {
    padding: 1rem;
    /* background-color: aqua; */
}
.blog-card-img img {
    width: 400px;
    height: 200px; 
    border-radius: 15px ;
    /* /* box-shadow: 0 2px 0px 2px rgba(216, 48, 100, 0.3); */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; 
    /* background-color: aqua; */
}

.card-title {
    text-align: center;
    color:#6497c6
}

.expandMoreContent p {
    padding: 0 1rem;
    text-align: justify;
    color: #9170d7;
    font-size: 14px;
    /* line-height: 1; */
    /* letter-spacing: .5px; */
    /* background-color: aqua; */
}

/* ==========SHOWMORE CARD================= */



.expandMoreContent {
    height: 76px;
    overflow: hidden;
    position: relative;
    transition: all 2s ease-in;   
   z-index: 2;
    /* background: #00DBDE; */
}

.expandMoreContent.expand-active {
    height: auto;
    transition: all 2s ease-in;
    
}

.expandMoreContent::before {
    content:"";
        position: absolute;
        width: 100%;
        height: 50px;
        left: 0;
        bottom: 0;
        border-radius: 15px;
        background: linear-gradient(transparent, rgba(16, 1, 16, 0.14));
}


.expandMoreHolder {
    padding: 15px 0;
    text-align: center;
    background-color: transparent;
    z-index: 3;
} 

.btn-expand-more {
  cursor: pointer;
  position: relative;
  padding: 10px 15px;
  margin: 4rem;
  background: linear-gradient(lightpink,lightblue,lightyellow);
       color: #6497c6;
       width: 150px;
       display: inline-block;
       font-weight: 500;
       letter-spacing: 2px;
       font-size: 14px;
       border-radius: 53px;
       border: 2px solid white;
       cursor: pointer;
       transition: all 0.5s ease-out;
  z-index: 4;
 
}

.btn-expand-more:hover {
    min-width: 30px;
    max-width: 150px;
    background: linear-gradient(rgb(230, 130, 145),rgb(196, 161, 161),rgb(229, 229, 106));
    color: #bce77b;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .1);
    border-radius: 50%;
}


.btn-expand-more span {
 
  color: #000;
  display: inline-block;
  z-index: 5;
}

/*=======FOOTER=======================================*/
.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    opacity: 1;
    z-index: 1003;


}

.footer-container {
    display: flex;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left {

    position: relative;
    display: flex;
    flex-direction: row;

}

.footer-text {
    color: #a693c9;
}

.footer-right {
    padding-right: 2rem;
  
}

.footer-media-list {
    display: flex;

    text-decoration: none;
    list-style: none;

}

.footer-media-item {
    display: flex;

}
.footer-media-item:hover {


    transform: scale(2.1);
    transition: all .4s ease-in-out;


}


.footer-img {
    width: 30px;
    height: 30px;

}

.footer-list {
    display: flex;

}
