*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
    font-family: sans-serif;

}

/*HEADER*/

.header {
    flex-direction: row;
    width: 100%;
    display: flex;
    position: relative;
    margin-right: 50px;
    z-index: 1;
    /*background: #e3e3ea;*/
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
}

.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.header-media-list {
    display: flex;
    list-style: none;
    margin-left: 100px;
    margin-top: 15px;
    /*background: #e3e3ea;*/
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    background: hsl(0, 0%, 100%,0.1);
    backdrop-filter: blur(1rem);
    border-radius: 15px;
}


/* NAVBAR */
.navbar {
    width: 100%;
    /*height: 25px;*/
    /*padding: 15px;*/
    position: fixed;
     z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 100px;*/
    transition: .5s;
}


@media screen and (max-width: 1300px){
    .link-group{
        position:fixed;
        inset: 0 0 0 70%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: hsl(0, 0%, 100%,0.1);
        backdrop-filter: blur(5rem);
    }
    .home-section{
        bottom: 500px;
        /*background: red;*/
    }

    profile-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 1200px;
        height: 500px;
        background: #72dc59;
    }
    .img-container{
        position: absolute;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
       width: 1200px;
        height: 500px;
        /*background: #72dc59;*/
    }

    .header-media-list{

        flex-direction: column;
        position: relative;
        /*background: #00DBDE;*/

    }

}

@media screen and (max-width: 900px){
    .link-group{
        position:fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: hsl(0, 0%, 100%,0.1);
        backdrop-filter: blur(5rem);
    }
    .profile-container{
        visibility: hidden;
    }
    .dev {
        visibility: hidden;
    }
    .welcome-container {
        visibility: hidden;
    }


    .header-media-list{
        flex-direction: column;
        margin-left: 10px;
        margin-top: 50px;
    }
}



@media screen and (max-width: 400px){
    .link-group{
        position:fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: hsl(0, 0%, 100%,0.1);
        backdrop-filter: blur(5rem);
    }
    .profile-container{
        visibility: hidden;
    }
    .header-list{
        visibility: hidden;
    }

    .header-media-list{
        flex-direction: column;
        margin-left: 10px;
        margin-top: 50px;
    }
}

/*LOGO*/
.img-logo {
    margin-right: auto;
    margin-top: 15px;
    width: 80px;
    height:80px;
    border-radius: 50%;
    /*margin-right: 50px;*/
    box-shadow: 0px 10px 20px rgb(223, 185, 236),
                14px 5px 15px rgb(87, 70, 112);

}


.link-group{
    list-style: none;
    margin-right: 30px;
    display: flex;
    /*background: hsl(0, 0%, 100%,0.1);*/
    /*backdrop-filter: blur(1rem);*/
}

.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a{
    opacity: 1;
}

/* home */

.home-section{
    width: 100%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    /*background: white;*/
    transition: 1s;
}


.hero-heading{

    text-transform: full-width;
    animation: forwards;

}

#hero-heading-font {
    position: relative;
    right: 50px;
    left: 10px;
    color: #a995bb;
    font-size: 80px;
    font-weight: 200;
    align-items: flex-start;
}

#hero-heading-font2 {
    position: relative;
    right: 50px;
    left: 10px;
    color: #e2d2f1;
    font-size: 30px;
    font-weight: 50;
    align-items: flex-start;
}



/** home welcome message */
span {
    opacity: 0;
    transition: all 0.4s ease;
}

span.fade {
    opacity: 1; 
}

/*.home-img{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 35%;*/
/*    height: 100vh;*/
/*    width: 30%;*/
/*    object-fit: cover;*/
/*    opacity: 0.5;*/
/*}*/


.section-container {
display: flex;
  /*background: white;*/
    margin-top: 50px;
    flex-direction: row;

}

.profile-container {
    position: relative;
    display: flex;
    background: #373752;
    width: 400px;
    height: 400px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 15px 10px rgba(197, 197, 236, 0.37),
                0 10px 15px rgba(131, 131, 199, 0.37);
    opacity: 1.5;

}
.img-container {
    position: relative;
    margin-top: 50px;
    align-self: center;
    width: 150px;
    height: 150px;
    /*background: red;*/
}

.welcome-container {
    position: absolute;
    /*background: green;*/
    margin-left: 500px;
    margin-top: 202px;
}

.dev {
    margin: 25px;
    /*background: blue;*/
}
.home-img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.5;
}



/* * SMOOTH NAVIGATION */
.blog-section,active,
.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

/** PROJECT-SECTION */

.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.project-card{
    height: 400px;
    position: relative;
}

.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-content{
    position: relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

.project-title{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info{
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.project-btn.live{
    background: none;
    border: 2px solid #fff;
}

.project-card:hover .project-img{
    filter: blur(20px);
}

.project-card:hover .project-content{
    opacity: 1;
}

/** ABOUT-SECTION */

.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5),
                0px 3px 35px rgba(0, 0, 0, 0.5);
}

.download-cv-btn{
    position: relative;
    bottom: 20px;
    top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    /*color: #de0909;*/
    border: solid rgb(247, 249, 250);
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .2s;
    background: #e172ee;
    cursor: pointer;
    
}


.download-cv-btn:hover{
    /*background: rgb(19, 35, 33);*/
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.link-btn {
    color: rgb(247, 247, 250);
    opacity: 1;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    transition: .2s;
    cursor: pointer;
}

.link-btn:hover {
    color: rgb(246, 247, 248);
}

/** RESUME TIMELINE  */

.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;
}
.heading {
    color: rgb(241, 223, 141);
    font-size: 80px;
    text-align: center;
    text-shadow: #e7cb71;
}

.timeline .heading{
    margin-bottom: 150px;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -80px 0;
    position: relative;
    background: rgb(231, 140, 140);
}

.card:nth-child(even){
    margin-left: auto;
}

.card:nth-child(even):before{
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after{
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(odd):before{
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after{
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before{
    background: #e99e9e;
}
.card:nth-child(3), .card:nth-child(3):before{
    background: #ebca9a;
}
.card:nth-child(4), .card:nth-child(4):before{
    background: #a2e8b1;
}
.card:nth-child(5), .card:nth-child(5):before{
    background: #b47262;
}
.card:nth-child(6), .card:nth-child(6):before{
    background: #4fa0ff;
}

.card:nth-child(even) .card-body:before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

/* *MY BLOG SECTION */

.myblog-container {
    position: absolute;
    display: flex;
    height:fit-content; 
    top: 20%;
    width:fit-content;
    background-color: #24395e;
    border-radius: 15px;
    box-sizing: content-box;
    padding: 15px;
    margin-left: 0px;
}

.myblog {
    position: relative;
    padding: 10px;
    text-align: center;
    height: 30%;
    color: #ebd590;
    font-size: 40px;
}

.myblog-card-container {
    position: relative;
    padding: 15px;
    margin: 10px;
    display: block;
    /*background-color: #D9AFD9;*/
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 15px;
    transition: transform 2s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.myblog-card-container:hover {
    /*background: #1919e3;*/
    transform: scale(1.2);
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

    z-index: 1;
}


.myblog-card-title {
padding: 15px;
margin: 5px;
}

/*programme language*/

.section-programming{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 80px;
   margin-bottom: 20px;
    /*background: hsl(0, 0%, 100%,0.1);*/
    /*backdrop-filter: blur(1rem);*/
    /*border-radius: 10px;*/
}

.section-languages-list {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    /*height: 50px;*/
    background-color: #24395e;
    opacity: 1;
}

.lang-img {
     width: 70px;
    height: 70px;
}

/*FOOTER*/
.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    /*background-color: #24395e;*/
    opacity: 1;



}

.footer-container{
    display: flex;
    /*background: white;*/
    bottom: 0;
    padding: 15px;
    /*margin: 50px;*/
    width: 100%;
    height: 50px;
}
.footer-left {

    position: relative;
    flex-direction: row;

}

.footer-text {
    color: #a693c9;
}

.footer-right {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: flex-start;
    /*background: #72dc59;*/
}
.footer-media-list {
    display:flex;
    /*background: #de0909;*/
    text-decoration: none;
    list-style: none;
    margin-left: 500px;
}

.footer-media-item{
   display: flex;

}

.footer-img {
    width: 30px;
    height: 30px;

}

.footer-list {
    display: flex;

}